<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REMOTE_HOST} !^127\.0\.0\.1
    RewriteCond %{REMOTE_HOST} !^192\.168\.1\.101
   #RewriteCond %{REMOTE_HOST} !^1\.34\.109\.224
    RewriteCond %{REQUEST_URI} !^permission_denied.htm$
    RewriteRule (.*)$ http://www.simplybridal.com/ [R=302,L]
</IfModule>

Options -Indexes
